<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PepTool Results</title>

    <link rel="stylesheet" href="{{url_for('static',filename= './assets/dist/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename= './css/pepResult.css')}}">
</head>
<body>
    <!--
    Navigation Bar
    ==========================-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Offcanvas navbar large">
      <div class="container-fluid">
        <a class="navbar-brand" href="https://www.deshbandhucollege.ac.in" target="_blank">Deshbandhu College</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbar2Label" style="color: white;">Deshbandhu College</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/peptool">PepAnalyzer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blast_tool">Blast Tool</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Details
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/#team">Team</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="/documentation#contacts">Contacts</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/documentation">Documentation and FAQ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!--
    Content
    ==========================-->
    <main class="main-content-container">
      <div class="wrapper">
            <!--Function selection checkboxes-->
            <section>

                <!--table-container-->
                <div class="table-content">
                  <div class="table-header">Calculated results for peptide operations</div>

                  <table cellspacing="0">
                    {% for k in result %}
                      {% if result.index(k) %}
                        {% for key,value in k.items() %}
                          <tr>
                            <td><label>{{key}}</label></td>
                              <td>
                                <div style="display: flex; align-items: center;">
                                  <a href="{{ url_for('static', filename='serve/images/' + value) }}" target="_blank"><img src="{{ url_for('static', filename='serve/images/' + value) }}" alt="Coming Soon" height="100" width="100"></a>
                                  <button id="btn-dwnld" class="btn btn-outline-primary btn-sm" onclick="downloadImage('{{ url_for('static', filename='serve/images/' + value) }}', '{{ key }}')">Download</button>
                                </div>
                              </td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        {% for key,value in k.items() %}
                          <tr>
                              <td><label>{{key}}</label></td>
                              {% if value is string %}
                                  <td>
                                    {{ value }}
                                  </td>

                              {% elif value is mapping %}
                                  <td>
                                    {% for k, v in value.items() %}
                                      <li>{{ k }} : {{ v }}</li>
                                    {% endfor %}
                                  </td>

                              {% elif value is iterable %}
                                  <td>
                                    {% for item in value %}
                                      <li>{{ item }}</li>
                                    {% endfor %}
                                  </td>

                              {% else %}
                                  <td>
                                    {{ value }}
                                  </td>

                              {% endif %}
                          </tr>
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </table>
                </div>

              <!--button-container-->
              <a href="/peptool"><button id="btn" class="btn btn-outline-primary btn-lg">Go Back</button></a>
            <section>
      </div>
    </main>

    <!--
    Footer
    ==========================-->
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="/peptool" class="nav-link px-2 text-muted">PepAnalyzer</a></li>
          <li class="nav-item"><a href="/blast_tool" class="nav-link px-2 text-muted">Blast Tool</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Research paper</a></li>
          <li class="nav-item"><a href="/documentation#faq" class="nav-link px-2 text-muted">FAQs</a></li>
          <li class="nav-item"><a href="/documentation#document" class="nav-link px-2 text-muted">Documentation</a></li>
        </ul>
        <p class="text-center text-muted">&copy; PepAnalyzer tool version-1</p>
      </footer>
    </div>
</body>
<script src="{{url_for('static',filename= './assets/dist/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{url_for('static',filename= './js/pepTool.js')}}"></script>

</html>