body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    overflow-x: hidden;
    z-index: -3;
}

#canvas {
    display: block;
    position: fixed;
    z-index: -1;
    top:0%;
}

.navbar {
    position: fixed;
    top:0px;
    width: 100%;
    z-index: 5;
}

h1 {
    font-size: 80px;
    color:#000532;
}

h5 {
    color: rgba(0, 0, 0, 0.656);
}

.tech-team a {
    text-decoration: none;
}
.tech-team h5:hover {
    color: black;
    font-weight: bold;
}

/*main-container*/
.main-content-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-md-5 {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-container {
    margin-top: 200px;
}

/*button-container*/
.btn-wrapper {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .btn {
    border-radius: 18px;
    padding-left: 40px;
    padding-right: 40px;
  }


/*footer-divider*/
.container {
    backdrop-filter: blur(7px) saturate(118%);
    -webkit-backdrop-filter: blur(10px) saturate(118%);
    border: 1px solid rgba(69, 69, 69, 0.19);
    margin-top: 100px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.tech-team-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.tech-team{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.visitor-container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.visitor-text .user-count-label {
    font-size: 30px;
    font-weight: bolder;
}
.visitor-text .user-count {
    font-size: 50px;
    font-weight: bolder;
    color: rgb(0, 98, 255);
}

